/* Setting the body and margin */
body{
  margin:0 auto;
  /* overflow: hidden; */
}
/* Hero image */
#hero {
  height: calc(99vh - 50px);
  width: 100%;
  background: linear-gradient(rgba(44, 62, 80,.3), rgba(44, 62, 80,.3)), url('https://news.wttw.com/sites/default/files/styles/full/public/article/image-non-gallery/Fracking.jpg?itok=C-rH04BO');
  background-size: cover;
  background-repeat: no-repeat;
}

#hero2 {
  height: calc(99vh - 50px);
  width: 100%;
  background: linear-gradient(rgba(44, 62, 80,.3), rgba(44, 62, 80,.3)), url('http://2.bp.blogspot.com/_5IWl-cAPUIs/SqdJkKzIYQI/AAAAAAAABP4/IHP7ZqgU4L0/s400/DevilDick.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* Hero overlay section */
.hero-overlay-text {
  z-index: 5;
  height: calc(100vh - 50px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

/* Hero overlay h1 text */
.hero-overlay-text h1 {
  margin-top: 0rem;
  font-size: 9rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

/**********
faqpanel
************/


.faq {
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.faq h2 {
  text-align: center;
}

.faq-container {
  width: 60%;
}


.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-weight: 600;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.faqpanel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
/* Fracking img  */
#frack-img {
  width:100%;
}
footer{
  margin-bottom: 0 auto;
  background-color: grey;
}
footer ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
